"""
Auto generated class. This class will hold available countries's information
"""
from enum import Enum

class Countries(Enum):
    {%  for country in countries %}
        {{ country.variable_name }} = "{{ country.country }}"
    {% endfor %}